
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Career1</title>

</head>
<body>
    
    @*<script>
        var pdf = new PDFObject({
            url: "",
            id: "pdfRendered",
            pdfOpenParams: {
                view: "FitH"
            }
        }).embed("pdfRenderer");
    </script>*@
   
       <iframe src="~/Scripts/images/resume/abc.pdf#toolbar=0&navpanes=0&statusbar=0&view=Fit;readonly=true; " width="800px" height="600px" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="~/Scripts/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/Scripts/css/icomoon.css">
    <!-- Bootstrap  -->

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Flexslider  -->
    <link rel="stylesheet" href="~/Scripts/css/flexslider.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/Scripts/css/style.css">

    <!-- Modernizr JS -->

    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- jQuery -->
    <!-- jQuery Easing -->
    <script src="~/Scripts/js/jquery.easing.1.3.js"></script>

    <!-- Waypoints -->
    <script src="~/Scripts/js/jquery.waypoints.min.js"></script>

    <!-- Flexslider -->
    <script src="~/Scripts/js/jquery.flexslider-min.js"></script>

    <!-- MAIN JS -->
    <script src="~/Scripts/js/main.js"></script>

    <link href="~/Scripts/Teamcss/style.css" rel="stylesheet" />
</body>

</html>
