<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
		
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<div id="fh5co-page">
    <header id="fh5co-header" role="banner">

        <div class="header-inner">
            <a href="/../">
                <img src="~/Scripts/images/imageedit_1_3947092529.png" class="logo" style="float:left; margin-right:1%; height:80px" />
            </a>
            <h1><a href="/../">OmniMerit<span></span></a></h1>
            <p style="float:left; margin-top: 50px;color: greenyellow;margin-left: -156px;">Integrating Noble values </p>




            <nav role="navigation">
                <ul>


                    <li><a href="#" class="home active">Home</a></li>

                    <li><a href="#" class="scrollabout">About us</a></li>
                    <li><a href="" class="scrollBottom">Courses</a></li>
                    <li><a href="" class="scrollBottom">Contact Us </a></li>

                    <li><a href="/Default/Career">Career</a></li>
                    @*<li><a data-toggle="modal" data-target="#myModal"> Login</a></li>*@
                </ul>
            </nav>
        </div>

    </header>
   

    <div style="">
        <h1></h1>

        <div class="row">
            <div class="col-sm-4"><div id="chartdiv"></div></div>

            <div class="col-sm-4"></div>
        </div>
        <div class="row">

            <div class="col-sm-4"><div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <script>
var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginTop": 0,
    "marginRight": 80,
    "dataProvider": [{
        "testno": "1",
        "value": 67.50
    }, {
        "testno": "2",
        "value": 148.50
    }, {
        "testno": "3",
        "value": 94.50
    }, {
        "testno": "4",
        "value": 146.25
    }, {
        "testno": "5",
        "value": 204.93
    }],
    "valueAxes": [{
        "axisAlpha": 0,
        "position": "left"
    }],
    "graphs": [{
        "id": "g1",
        "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
        "bullet": "round",
        "bulletSize": 8,
        "lineColor": "#d1655d",
        "lineThickness": 2,
        "negativeLineColor": "#637bb6",
        "type": "smoothedLine",
        "valueField": "value"
    }],



    "categoryField": "testno",

    "export": {
        "enabled": true
    }
});



        Highcharts.chart('container', {
            title: {
                text: 'Percentage/ Percentile ',
                x: -20 //center
            },
            subtitle: {
                text: '',
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Standarised Evaluation Exam '
                },
                categories: ['1', '2', '3', '4', '5', '6']
            },
            yAxis: {
                title: {
                    text: 'Percentage/ Percentile '
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {

            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [
             {


                 name: 'Percentile',
                 data: [45, 90, 65, 95, 98.3, 99.2]
             }, {
                 name: 'Percentage',
                 data: [18.75, 41.25, 26.25, 40.63, 56.93, 68.44]
             }]
        });

    </script>
    </div>
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
    </style>





