


<div id="fh5co-page">
    <header id="fh5co-header" role="banner" style="position:fixed">

        <div class="header-inner">
            <a href="/../">
                <img src="~/Scripts/images/imageedit_1_3947092529.png" class="logo" style="float:left; margin-right:1%; height:80px" />
            </a>
            <h1><a href="/../">OmniMerit<span></span></a></h1>
            <a href="/../">
                <p style="float:left; margin-top: 50px;color: greenyellow;margin-left: -156px;">Integrating Noble values </p>
            </a>




            <nav role="navigation">
                <ul>

                    <li><a href="/Default" class="home active">Home</a></li>


                    <li><a href="" class="scrollBottom">Contact Us </a></li>

                    <li><a href="/Default/Career">Career</a></li>
                    @*<li><a data-toggle="modal" data-target="#myModal"> Login</a></li>*@

                </ul>
            </nav>
        </div>

    </header>
    <div class="fh5co-section-with-image">

        <img src="../../Scripts/images/slide_1.jpg" style="height:1500px !important" alt="" class="img-responsive">
        <div class="mock-box">
            <h1> Mock IIT</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#vtest">View Test</a></li>
                <li><a data-toggle="tab" href="#sol">View Solution</a></li>

            </ul>
           
            <div class="tab-content">
                <div id="vtest" class="tab-pane fade in active">
                    <br />
                    <ul class="nav nav-tabs">
                                                <li class="active"><a data-toggle="tab" href="#phy">Physics</a></li>
                                                <li><a data-toggle="tab" href="#chem">Chemistry</a></li>
                                                <li><a data-toggle="tab" href="#math">Maths</a></li>

                                            </ul>


                                            <div class="tab-content">
                                                <div id="phy" class="tab-pane fade in active"><br />

                                                    <h3>Physics</h3>
                                                    <ul class="nav nav-pills">
                                                        <li class="active"><a data-toggle="pill" href="#phy1">1</a></li>
                                                        <li><a data-toggle="pill" href="#phy2">2</a></li>
                                                        <li><a data-toggle="pill" href="#phy3">3</a></li>
                                                        <li><a data-toggle="pill" href="#phy4">4</a></li>

                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="phy1" class="tab-pane fade in active">

                                                            <img src="~/StudyMaterial/Images/phy1.png"  style="width:90%;"/>                                      
                                                        </div>
                                                            <div id="phy2" class="tab-pane fade">
                                                                <p>
                                                                    2.	There is a small air bubble inside a thick lens of glass as shown in the figure. What is the distance between the images of the air bubble as seen by two observers, one in air and other in water? (Given Radius of the curved surface is 5 cm).

                                                                    n = 3/2	n	= 4/3
                                                                    g	w
                                                                    n	air	= 1

                                                                    5c m
                                                                    14 cm
                                                                    (A)   1 cm	(B)	9 cm	(C)   1.5 cm	(D)   4 cm
                                                                </p>

                                                            </div>
                                                        <div id="phy3" class="tab-pane fade">
                                                            <p>3.	A hollow, conducting spherical shell of inner radius R1 and outer radius R2 encloses a charge q inside, which is located at a distance d &lt; R1 from the Centre of the spheres. The potential at the Centre of the shell is
                                                                                                                                                                            R
                                                                                                                                                                            1
                                                                                                                                                                            q d R
                                                                                                                                                                            2
                                                                                                                                                                            (A) kq
                                                                                                                                                                            d
                                                                                                                                                                            (C) O
                                                                                                                                                                            (B) kq
                                                                                                                                                                            (D) kq
                                                                                                                                                                             1  1  1 
                                                                                                                                                                             R R 1 d 
                                                                                                                                                                             2 
                                                                                                                                                                             1  1 
                                                                                                                                                                             
                                                                                                                                                                            R 2 R1 
                        </p>
                                                        </div>
                                                        </div>


                                            </div>
                                                <div id="chem" class="tab-pane fade">
                                                    <h3>Chemistry</h3>
                                                    <ul class="nav nav-pills">
                                                        <li class="active"><a data-toggle="pill" href="#chem1">1</a></li>
                                                        <li><a data-toggle="pill" href="#chem2">2</a></li>
                                                        <li><a data-toggle="pill" href="#chem3">3</a></li>
                                                        <li><a data-toggle="pill" href="#chem4">4</a></li>
                                                        <li><a data-toggle="pill" href="#chem5">5</a></li>
                                                        <li><a data-toggle="pill" href="#chem6">6</a></li>
                                                        <li><a data-toggle="pill" href="#chem7">7</a></li>
                                                        <li><a data-toggle="pill" href="#chem8">8</a></li>
                                                        <li><a data-toggle="pill" href="#chem9">9</a></li>
                                                        <li><a data-toggle="pill" href="#chem10">10</a></li>
                                                        <li><a data-toggle="pill" href="#chem11">11</a></li>
                                                        <li><a data-toggle="pill" href="#chem12">12</a></li>
                                                        <li><a data-toggle="pill" href="#chem13">13</a></li>
                                                        <li><a data-toggle="pill" href="#chem14">14</a></li>
                                                        <li><a data-toggle="pill" href="#chem15">15</a></li>
                                                        <li><a data-toggle="pill" href="#chem16">16</a></li>
                                                        <li><a data-toggle="pill" href="#chem17">17</a></li>
                                                        <li><a data-toggle="pill" href="#chem18">18</a></li>
                                                        <li><a data-toggle="pill" href="#chem19">19</a></li>
                                                        <li><a data-toggle="pill" href="#chem20">20</a></li>
                                                        <li><a data-toggle="pill" href="#chem21">21</a></li>
                                                        <li><a data-toggle="pill" href="#chem22">22</a></li>
                                                        <li><a data-toggle="pill" href="#chem23">23</a></li>
                                                        <li><a data-toggle="pill" href="#chem24">24</a></li>
                                                        <li><a data-toggle="pill" href="#chem25">25</a></li>
                                                        <li><a data-toggle="pill" href="#chem26">26</a></li>
                                                        <li><a data-toggle="pill" href="#chem27">27</a></li>
                                                        <li><a data-toggle="pill" href="#chem28">28</a></li>
                                                        <li><a data-toggle="pill" href="#chem29">29</a></li>
                                                        <li><a data-toggle="pill" href="#chem30">30</a></li>

                                                    </ul>

                                                    <div class="tab-content">
                                                        <div id="chem1" class="tab-pane fade in active">
                                                            <img src="~/StudyMaterial/Images/chem/chem1.png" />
                                                        </div>
                                                        <div id="chem2" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem2.png" />
                                                        </div>
                                                        <div id="chem3" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem3.png" />
                                                        </div>
                                                        <div id="chem4" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem4.png" />
                                                        </div>
                                                        <div id="chem5" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem5.png" />
                                                        </div>
                                                        <div id="chem6" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem6.png" />
                                                        </div>
                                                        <div id="chem7" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem7.png" />
                                                        </div>
                                                        <div id="chem8" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem8.png" />
                                                        </div>
                                                        <div id="chem9" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem9.png" />
                                                        </div>
                                                        <div id="chem10" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem10.png" />
                                                        </div>
                                                        <div id="chem11" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem11.png" />
                                                        </div>
                                                        <div id="chem12" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem12.png" />
                                                        </div>
                                                        <div id="chem13" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem13.png" />
                                                        </div>
                                                        <div id="chem14" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem14.png" />
                                                        </div>
                                                        <div id="chem15" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem15.png" />
                                                        </div>
                                                        <div id="chem16" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem16.png" />
                                                        </div>
                                                        <div id="chem17" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem17.png" />
                                                        </div>
                                                        <div id="chem18" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem18.png" />
                                                        </div>
                                                        <div id="chem19" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem19.png" />
                                                        </div>
                                                        <div id="chem20" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem20.png" />
                                                        </div>
                                                        <div id="chem21" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem21.png" />
                                                        </div>
                                                       
                                                        <div id="chem22" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem22.png" />
                                                        </div>
                                                        <div id="chem23" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem23.png" />
                                                        </div>
                                                        <div id="chem24" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem24.png" />
                                                        </div>
                                                        <div id="chem25" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem25.png" />
                                                        </div>
                                                        <div id="chem26" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem26.png" />
                                                        </div>
                                                        <div id="chem27" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem27.png" />
                                                        </div>
                                                        <div id="chem28" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem28.png" />
                                                        </div>
                                                        <div id="chem29" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem29.png" />
                                                        </div>
                                                        <div id="chem30" class="tab-pane fade ">
                                                            <img src="~/StudyMaterial/Images/chem/chem30.png" />
                                                        </div>
                                                    </div>
                                                    </div>
                                                <div id="math" class="tab-pane fade">
                                                    Math
                                                </div>
                                        </div>
                    
                </div>
                <div id="sol" class="tab-pane fade">
                   
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#phyans">Physics</a></li>
                        <li><a data-toggle="tab" href="#chemans">Chemistry</a></li>
                        <li><a data-toggle="tab" href="#mathans">Maths</a></li>

                    </ul>


                    <div class="tab-content">
                        <div id="phyans" class="tab-pane fade in active">
                            <br />

                            <h3>Physics</h3>
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="pill" href="#phy1">1</a></li>
                                <li><a data-toggle="pill" href="#phy2">2</a></li>
                                <li><a data-toggle="pill" href="#phy3">3</a></li>
                                <li><a data-toggle="pill" href="#phy4">4</a></li>

                            </ul>

                            <div class="tab-content">
                                <div id="phy1" class="tab-pane fade in active">

                                    <img src="~/StudyMaterial/Images/phy1.png" style="width:90%;" />
                                </div>
                                <div id="phy2" class="tab-pane fade">
                                    <p>
                                        2.	There is a small air bubble inside a thick lens of glass as shown in the figure. What is the distance between the images of the air bubble as seen by two observers, one in air and other in water? (Given Radius of the curved surface is 5 cm).

                                        n = 3/2	n	= 4/3
                                        g	w
                                        n	air	= 1

                                        5c m
                                        14 cm
                                        (A)   1 cm	(B)	9 cm	(C)   1.5 cm	(D)   4 cm
                                    </p>

                                </div>
                                <div id="phy3" class="tab-pane fade">
                                    <p>
                                        3.	A hollow, conducting spherical shell of inner radius R1 and outer radius R2 encloses a charge q inside, which is located at a distance d &lt; R1 from the Centre of the spheres. The potential at the Centre of the shell is
                                        R
                                        1
                                        q d R
                                        2
                                        (A) kq
                                        d
                                        (C) O
                                        (B) kq
                                        (D) kq
                                         1  1  1 
                                         R R 1 d 
                                         2 
                                         1  1 
                                         
                                        R 2 R1 
                                    </p>
                                </div>
                            </div>


                        </div>
                        <div id="chemans" class="tab-pane fade">
                            <h3>Chemistry</h3>
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="pill" href="#chem_ans1">1</a></li>
                                <li><a data-toggle="pill" href="#chem_ans2">2</a></li>
                                <li><a data-toggle="pill" href="#chem_ans3">3</a></li>
                                <li><a data-toggle="pill" href="#chem_ans4">4</a></li>
                                <li><a data-toggle="pill" href="#chem_ans5">5</a></li>
                                <li><a data-toggle="pill" href="#chem_ans6">6</a></li>
                                <li><a data-toggle="pill" href="#chem_ans7">7</a></li>
                                <li><a data-toggle="pill" href="#chem_ans8">8</a></li>
                                <li><a data-toggle="pill" href="#chem_ans9">9</a></li>
                                <li><a data-toggle="pill" href="#chem_ans10">10</a></li>
                                <li><a data-toggle="pill" href="#chem_ans11">11</a></li>
                                <li><a data-toggle="pill" href="#chem_ans12">12</a></li>
                                <li><a data-toggle="pill" href="#chem_ans13">13</a></li>
                                <li><a data-toggle="pill" href="#chem_ans14">14</a></li>
                                <li><a data-toggle="pill" href="#chem_ans15">15</a></li>
                                <li><a data-toggle="pill" href="#chem_ans16">16</a></li>
                                <li><a data-toggle="pill" href="#chem_ans17">17</a></li>
                                <li><a data-toggle="pill" href="#chem_ans18">18</a></li>
                                <li><a data-toggle="pill" href="#chem_ans19">19</a></li>
                                <li><a data-toggle="pill" href="#chem_ans20">20</a></li>
                                <li><a data-toggle="pill" href="#chem_ans21">21</a></li>
                                <li><a data-toggle="pill" href="#chem_ans22">22</a></li>
                                <li><a data-toggle="pill" href="#chem_ans23">23</a></li>
                                <li><a data-toggle="pill" href="#chem_ans24">24</a></li>
                                <li><a data-toggle="pill" href="#chem_ans25">25</a></li>
                                <li><a data-toggle="pill" href="#chem_ans26">26</a></li>
                                <li><a data-toggle="pill" href="#chem_ans27">27</a></li>
                                <li><a data-toggle="pill" href="#chem_ans28">28</a></li>
                                <li><a data-toggle="pill" href="#chem_ans29">29</a></li>
                                <li><a data-toggle="pill" href="#chem_ans30">30</a></li>

                            </ul>

                            <div class="tab-content">
                                <div id="chem_ans1" class="tab-pane fade in active">
                                    <img src="~/StudyMaterial/Images/chem/chem1.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image001.png" />
                                </div>
                                <div id="chem_ans2" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem2.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image002.png" />
                                </div>
                                <div id="chem_ans3" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem3.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image003.png" />
                                </div>
                                <div id="chem_ans4" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem4.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image004.png" />
                                </div>
                                <div id="chem_ans5" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem5.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image005.png" />
                                </div>
                                <div id="chem_ans6" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem6.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image006.png" />
                                </div>
                                <div id="chem_ans7" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem7.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image007.png" />
                                </div>
                                <div id="chem_ans8" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem8.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image008.png" />
                                </div>
                                <div id="chem_ans9" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem9.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image009.png" />
                                </div>
                                <div id="chem_ans10" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem10.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image010.png" />
                                </div>
                                <div id="chem_ans11" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem11.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image011.png" />
                                </div>
                                <div id="chem_ans12" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem12.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image012.png" />
                                </div>
                                <div id="chem_ans13" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem13.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image013.png" />
                                </div>
                                <div id="chem_ans14" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem14.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image014.png" />
                                </div>
                                <div id="chem_ans15" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem15.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image015.png" />
                                </div>
                                <div id="chem_ans16" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem16.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image016.png" />
                                </div>
                                <div id="chem_ans17" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem17.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image017.png" />
                                </div>
                                <div id="chem_ans18" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem18.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image018.png" />
                                </div>
                                <div id="chem_ans19" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem19.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image019.png" />
                                </div>
                                <div id="chem_ans20" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem20.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image020.png" />
                                </div>
                                <div id="chem_ans21" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem21.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image021.png" />
                                </div>

                                <div id="chem_ans22" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem22.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image022.png" />
                                </div>
                                <div id="chem_ans23" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem23.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image023.png" />
                                </div>
                                <div id="chem_ans24" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem24.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image024.png" />
                                </div>
                                <div id="chem_ans25" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem25.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image025.png" />
                                </div>
                                <div id="chem_ans26" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem26.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image026.png" />
                                </div>
                                <div id="chem_ans27" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem27.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image027.png" />
                                </div>
                                <div id="chem_ans28" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem28.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image028.png" />
                                </div>
                                <div id="chem_ans29" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem29.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image029.png" />
                                </div>
                                <div id="chem_ans30" class="tab-pane fade ">
                                    <img src="~/StudyMaterial/Images/chem/chem30.png" />
                                    <img src="~/StudyMaterial/Images/Chem_ans/image030.png" />
                                </div>
                            </div>
                        </div>
                        <div id="mathans" class="tab-pane fade">
                            Math
                            <iframe src="http://docs.google.com/gview?url=https://www.omnimerit.com/StudyMaterial/IITMAINMOCK.pdf&embedded=true" style="width:100%; height:500px" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <footer id="fh5co-footer" role="contentinfo">

        <div class="container">
            <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                <h3>Contact us </h3>
                <h4><i class="icon-envelope"></i> &nbsp; support@omnimerit.com</h4>
                <h4><i class="icon-phone"></i>​&nbsp;+91 98102 72159</h4>


            </div>



            <div class="col-md-12 fh5co-copyright text-center">
                <p>&copy; 2016  All Rights Reserved. </p>
            </div>

        </div>
    </footer>

    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <i class="icon-arrow-up"></i>
        </span>
    </div>
</div>


